:root {
  --color--success: #81C784;
  --color--success--hover: #4CAF50;
  --color--danger: #f44336;
  --color--info: #64B5F6;
  --color--info--hover: #2196F3;
  --color--disabled: #B0BEC5;

  --btn--color: #BF360C;
  --btn--backgroundColor: #FFAB91;
  --btn--color--hover: #FBE9E7;
  --btn--backgroundColor--hover: #FF7043;

}

.content {
  max-width: 64em;
  padding: 0 1em;
  margin: 0 auto;
}

/* btn */

.actions {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  padding: .625em 1em .5em 1em;
  border: none;
  cursor: pointer;

  .actions & {
    width: 49%;
    min-height: 3.125em;
  }

  &:active {
    box-shadow: 0 0 4px rgba(00,00,00,0.35);
  }

  &.btn--reset {
    color: var(--btn--color);
    background-color: var(--btn--backgroundColor);
    border-radius: .25em;
    opacity: .3;
    pointer-events: none;
    transition: color .4s, background-color .4s;

    &:hover {
      color: var(--btn--color--hover);
      background-color: var(--btn--backgroundColor--hover);
    }
  }

  &.btn--add {
    color: #fff;
    background-color: var(--color--info);
    border-radius: .25em;
    transition: background-color .4s;

    &:hover {
      background-color: var(--color--info--hover);
    }
  }
}

/* Todo list */

#todoList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
  background-color: rgba(255,255,255, .8);
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(00,00,00,0.05);
  overflow: hidden;
}

.list__item  + .list__item {
  margin-top: .3125em;
}

.check__task {
  display: none;
}

.item__task {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
  padding: 1em;
  color: var(--color--info);
  border-left: 1px solid var(--color--info);
  cursor: pointer;
  transition: color .4s;

  :hover {
    color: var(--color--info--hover);
  }

  [class*="icon-"] {
    position: absolute;
    left: -42px;
  }
}

.check__task:checked + .item__task {
  color: var(--color--success);
  text-decoration: line-through;
  border-color: var(--color--success);
}

.remove__task {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  color: var(--btn--backgroundColor);
  background-color: transparent;
  border: none;
  border-left: 1px solid currentcolor;
  cursor: pointer;
  transition: color .4s;

  &:hover {
    color: var(--btn--backgroundColor--hover);
  }

  [class*="icon-"] {
    pointer-events: none;
  }
}

/* Add List Item */

#addListItem {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #e5e5e5;

  > label{
    display: none;
  }

  > input {
    width: 100%;
    min-height: 3.125em;
    padding: .625em 1em;
    margin-bottom: 1em;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;

    &::-webkit-input-placeholder {
      color: #333;
      font-style: italic;
      opacity: .6;
    }

    &::-ms-input-placeholder {
      color: #333;
      font-style: italic;
      opacity: .6;
    }

    &::placeholder {
      color: #333;
      font-style: italic;
      opacity: .6;
    }
  }
}

/* ---------- Alert ---------- */

.alert {
  position: relative;
  min-height: 3.125em;
  padding: .625em 1em;
  margin-bottom: 1em;
  border-radius: .25rem;

  &.alert-danger {
    display: none;
    align-items: center;
    color: var(--btn--color);
    border: 1px solid var(--btn--backgroundColor);
  }

  .alert-close {
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3.125rem;
    padding: 0;
    margin: 0;
    color: currentColor;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}