$instruction-height: 400px;

/* ---------- Consigne ---------- */

.consignes {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  transform: translateY(-#{$instruction-height});
  height: $instruction-height;
  padding: 1em;
  color: #ccc;
  background-color: #141414;
  transition: transform .4s;

  &.is-down {
    transform: translateY(0);
  }

  h3 {
    margin-top: 0;
  }

  li + li {
    margin-top: 0.625em;
  }

  a {
    color: currentColor;
    text-decoration: underline;
    transition: opacity .4s;

    &:hover {
      opacity: .6;
    }
  }
}

.btn-consignes {
  position: fixed;
  top: #{$instruction-height};
  right: 0;
  display: flex;
  align-items: center;
  color: currentColor;
  background-color: #141414;
  border-radius: 0;
  border-bottom-left-radius: 0.25em;
  box-shadow: 0 0 10px rgba(black, 0.15);
  transition: background-color .4s;

  &:hover {
    background-color: #141414;
  }

  [class*="icon-"] {
    will-change: transform;
    transition: transform .4s;
  }

  &.is-down [class*="icon-"] {
    transform: scaleY(-1);
  }
}